@mixin md {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin xl {
    @media screen and (min-width: 1280px) {
        @content;
    }
}

// @include md {}
// @include xl {}
.pricing-title {
    font-weight: 700;
}

.ratio {
    &.square {
        border-radius: 0;
    }
}

.panel-item_for_plans {
    background-color: #333333;
    width: 289px;
    position: relative;
    cursor: pointer;
    .ratio {
        width: 100%;
    }
    .title,
    .content {
        text-align: left;
    }
    .content {
        color: $gray40;
    }
    .plan-name {
        font-size: 1.5rem;
    }
    .item-body {
        padding: 1.5rem;
    }
    .hover-panel {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(51, 51, 51, .92);
        height: 100%;
        width: 100%;
        z-index: 1;
        padding: 1rem;
        line-height: 2;
        .ic-wrap {
            justify-content: flex-start;
            text-align: left;
        }
        .fa-check {
            color: $nv;
        }
        .detail-check-section {
            max-height: calc(100% - 100px);
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }
    &:hover {
        .hover-panel {
            display: block;
        }
    }
}

.plan-pricingTitanium {
    padding: 5rem 0;
    background: url("../img/gfn-pricing-titanium-bg.jpg"), url("../img/gfn-pricing-titanium-bg_m.jpg");
    background-size: 200%, 200%;
    background-position: center bottom, center center;
    background-repeat: no-repeat, no-repeat;
    @include md {
        background: url("../img/gfn-pricing-titanium-bg.jpg");
        background-position: center bottom;
        background-size: cover;
    }
}

.pricing-panel-wrap {
    display: grid;
    gap: 8px;
    justify-content: center;
    padding: 24px;
    @include xl {
        display: grid;
        grid-template-columns: 1fr auto 3fr;
        align-items: center;
    }
    .panel-wrap {
        border-radius: 48px;
        border: 2px solid rgba(93, 104, 74, 0.50);
        background: rgba(30, 33, 24, 0.50);
        backdrop-filter: blur(8px);
        width: 100%;
        padding: 24px;
        &.plan-basic {
            .primary-btn {
                &[disabled] {
                    background: transparent;
                    opacity: 1;
                    color: #76B900;
                }
            }
        }
        &.plan-plus {
            display: grid;
            gap: 56px;
            @include md {
                grid-template-columns: 1fr 1fr 1fr;
                gap: 16px;
            }
        }
    }
    .titanium-item {
        min-height: auto;
        display: grid;
        justify-items: start;
        .item-header {
            border-radius: 24px 24px 0 0;
            background: #3A402D;
            padding: 24px;
            position: relative;
            max-width: 80%;
            &::after {
                content: "";
                display: block;
                width: 24px;
                height: 24px;
                background: url("../img/gfn-pricing-titanium-title-tail.svg");
                position: absolute;
                right: -24px;
                bottom: 0;
            }
        }
        .item-body {
            border-radius: 0 24px 24px;
            background: #3A402D;
            padding: 8px;
            text-align: left;
            width: 100%;
            display: grid;
            gap: 32px;
            .price-wrap {
                margin: 8px;
                padding: 8px;
                border: 1px solid #76B900;
                border-radius: 8px;
                color: #76B900;
                font-weight: 700;
            }
            .content-wrap {
                display: grid;
                gap: 12px;
                padding: 8px;
            }
            .ic-wrap {
                display: grid;
                grid-template-columns: 16px 1fr;
                align-items: start;
                gap: 4px;
                &::before {
                    content: '';
                    width: 16px;
                    height: 1.75em;
                    background: url("../img/icon-hexagon.svg") center no-repeat;
                }
            }
        }
        .title {
            font-size: 1.6rem;
        }
        .divi {
            background: #76B900;
            width: 32px;
            height: 4px;
            border-radius: 4px;
            margin: 0 8px;
        }
        .primary-btn {
            width: 100%;
            margin: 0;
            border-radius: 16px;
            &[disabled] {
                pointer-events: none;
                opacity: .4;
                color: #FFF;
            }
        }
    }
    .icon-plus {
        width: auto;
        display: block;
        margin: 0 auto;
    }
}

.special-content-part {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}