.copy-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    .code {
        display: inline-block;
        margin-right: 1rem;
        background-color: $trans;
        color: $white;
        border: 0;

        text-align: right;
        padding: 0;
        min-width: unset;
        outline: 0;
        font-size: 16px;
    }
    button {
        padding: 0.5rem 1rem;
        outline: 0;
        border: 0;
        background-color: $nv;
        color: $white;
        &:hover {
            opacity: 0.8;
        }
    }
}
.copytt {
    position: relative;
    display: inline-block;
}

.copytt .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
}

.copytt .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.copytt:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.txt-center {
    text-align: center;
}
.red {
    color: red;
}
